/* Основний колір текста #2E2F42; */

/* Додатковий колір текста #434455; */

/* Акцент #E7E9FC; */

/* Білий #FFFFFF; */


/* Додатковий колір фона #F4F4FD; */

/* Колір героя і футера #2E2F42; */


/**
  |============================
  | ROOT
  |============================
*/

:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

/**
  |============================
  | BASA STYLES
  |============================
*/

body {
    color: var(--color-slate);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.heading-two-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.logo-link {
    color: #4d5ae5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}



/**
  |============================
  | HEADER
  |============================
*/

.header {
    background-color: var(--color-white);
}

.header-nav {}

.header-logo {
    color: var(--color-navy-blue);



}



.header-nav-list {
    list-style: none;

}

.header-nav-link {
    font-family: inherit;
    color: var(--color-navy-blue);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.header-nav-link:focus,
.header-nav-link:hover {
    font-family: inherit;
    font-style: normal;
    color: var(--color-ocean);
    ;
}

.header-address-list {

    font-style: normal;
    list-style: none;

}

.header-address-link {
    font-family: inherit;
    color: var(--color-slate);
    text-decoration: none;
}

.header-address-link:focus,
.header-address-link:hover {
    font-family: inherit;
    color: var(--color-ocean);


}


/**
  |============================
  | HERO
  |============================
*/
.hero {
    background-color: var(--color-grey);
    ;
}

.hero-heading {
    color: var(--color-white);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}


.hero-button {
    color: var(--color-white);
    background-color: var(--color-iris);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}

.hero-button:focus,
.hero-button:hover {
    background-color: var(--color-ocean);
    font-style: normal;
}





/**
  |============================
  | PRIORITET
  |============================
*/

.prioritet {}

.prioritet-list {
    list-style: none;
}

.prioritet-item {}

.prioritet-headline {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.prioritet-text {}





/**
  |============================
  | WORK
  |============================
*/

.work {}

.work-heading {
    font-size: 36px;
    color: var(--color-navy-blue);
}

.work-list {
    list-style: none;
}

.work-item {}

.work-image {}

/**
  |============================
  | TEAM PROJECT
  |============================
*/
.team {
    background-color: var(--color-cloud);

}

.team-heading {
    font-size: 36px;
    color: var(--color-navy-blue);
}

.team-list {
    list-style: none;
}

.team-item {
    background-color: var(--color-white);

}

.team-picture {}

.team-name {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.team-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer {
    background-color: var(--color-navy-blue);
}

.footer-logo {
    color: var(--color-cloud);

}

.footer-text {
    color: var(--color-cloud);
}


/**
   |============================
   | PAGE - PORTFOLIO - HW-2
   |============================
 */

/**
   |============================
   | SECTION - PORTFOLIO
   |============================
 */

.section-portfolio {}

.button-list {
    list-style: none;
}

.button-item {
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    line-height: 1.50;
    background-color: var(--color-cloud);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--color-iris);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}





.button-item:hover {
    color: var(--color-white);
    background-color: var(--color-ocean);

}


.portfolio-list {
    list-style: none;
}

.portfolio-item {}

.link-picture {
    text-decoration: none;

}

.portfolio-picture {}

.portfolio-heading {
    color: var(--color-navy-blue);
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.20;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.portfolio-desc {
    font-family: inherit;
    color: var(--color-slate);
}